.nav__logo__countiner {
  display: flex;
  justify-self: flex-start;
  width: 50%;
  @media only screen and (min-device-width: 600px) and (max-device-width: 1230px) {
    width: 65%;
  }
  &--image {
    width: 100%;
    padding: 0 1rem;
  }
}
